<div class="user_sign_up_form_container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <% f.label :name %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
    </div>

    <div class="field">
      <% f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <% f.label :bio %><br />
      <%= f.text_area :bio, autofocus: true, placeholder: "Bio" %>
    </div>

    <div class="field">
      <% f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password" %><br />
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>

    <div class="field">
      <% f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm New Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>